@import "~bootstrap/scss/bootstrap";

$white: #ffffff;
$purple-haze: #3F249E;
$violet: #CDB3FF;
$deep-blue: #0d11eb;
$neon-blue: #1749eb;
$light-blue: #3392FF;

$default-font-family: Arial, Helvetica, sans-serif;

@mixin buttonDefault {
    color: $white;
    background-color: $neon-blue;
    border-color: $deep-blue;
}

@mixin buttonDisabled {
    color: $violet;
    background-color: $purple-haze;
    border-color: $white;
}

@mixin buttonSelected {
    color: $white;
    background-color: $deep-blue;
    border-color: $light-blue;

    z-index: 1;
}

@mixin title {
    font-family: $default-font-family;
    font-weight: bold;
}

body {
    margin: 40px 10px;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
}

#calendar {
    width: 100%;
    margin: 0 auto;
}

#calendar .fc-header-toolbar .fc-toolbar-chunk .fc-button-group .fc-button {
    @include buttonDefault();
}

#calendar .fc-today-button {
    @include buttonDefault();
}

#calendar .fc-header-toolbar .fc-toolbar-chunk .fc-button-group .fc-button:disabled {
    @include buttonDisabled();
}

#calendar .fc-header-toolbar .fc-toolbar-chunk .fc-button-group .fc-button-active {
    @include buttonSelected();
}

.status-block {
    display: flex;
    flex-direction: row;

    margin: 0 0 1em;

    p {
        @include title();

        margin: 7px;
        margin-left: 0px;
    }
}

.container {
    width: 70%;
}